@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    @apply relative w-screen h-screen flex justify-center items-center m-0 p-0 text-text-50;
    background-image: radial-gradient(#e01f1f 5px, transparent 5px);
    background-size: 80px 80px;
    background-position: 0 0;
    background-color: #f2f2f2;
    animation: bg-move 5s infinite linear;
}

@keyframes bg-move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 80px 80px;
    }
}

.background {
    @apply absolute w-full h-full flex items-center justify-center backdrop-blur-sm;
    background: rgb(242,242,242);
    background: radial-gradient(circle, rgba(242,242,242,1) 35%, rgba(255,255,255,0) 100%);
}

.container{
    @apply z-10 flex flex-col justify-center items-center p-12 rounded-2xl gap-8 bg-background-900 w-fit h-fit;
}

.container .key{
    @apply flex flex-col items-center gap-2;
}

.container .key p {
    @apply text-3xl m-0;
}

.container .key .numbers,
.container .key .stars {
    @apply grid grid-rows-[2.5rem] gap-2;
}

.container .key .numbers {
    @apply grid-cols-[repeat(5,2.5rem)];
}

.container .key .stars {
    @apply grid-cols-[repeat(2,2.5rem)];
}

.container .key .numbers div,
.container .key .stars div {
    @apply flex justify-center items-center bg-background-800 text-lg font-bold px-4 py-2 rounded-lg;
}

.container .key .stars div {
    @apply bg-yellow-400 ;
    clip-path: polygon(
            50% 0%, 70% 25%, 98% 35%, 75% 60%,
            79% 91%, 49% 81%, 21% 91%, 25% 60%,
            2% 35%, 30% 25%
    );
}

.footer{
    @apply absolute bottom-0 w-full p-2 flex justify-center items-center gap-2;
}

button {
    @apply flex text-text-950 font-bold cursor-pointer transition-all duration-100 ease-in-out px-4 py-2 rounded-lg border-0;
}

button.primary{
    @apply bg-primary-500 hover:bg-primary-500/80;
}

button.secondary{
    @apply bg-secondary-500 hover:bg-secondary-500/80;
}

a{
    @apply text-primary-500 hover:underline;
}